<p style="color: green"><%= notice %></p>

<%= render @style %>

<p>
  <strong>Beers:</strong>
  <ul>
    <% @style.beers.each do |beer| %>
      <li><%= beer.name %></li>
    <% end %>
  </ul>
</p>

<div>
  <%= link_to "Edit this style", edit_style_path(@style) if current_user %> |
  <%= link_to "Back to styles", styles_path %>

  <%= button_to "Destroy this style", @style, method: :delete if current_user %>
</div>
