<div id="<%= dom_id brewery %>">
  <h2>
    <strong> <%= brewery.name %> </strong>
  </h2>

  <p>
    <em>Established in: <%= brewery.year %></em>
    
  </p>

  <p>
    Number of beers: <%= @brewery.beers.count %>
  </p>

  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>

  <p>
    <% if brewery.ratings.present? %>
    Brewery has <%= pluralize(brewery.ratings.count, 'rating') %> 
    with an average of <%= brewery.average_rating %>
    <% end %>
  </p>

</div>
