<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

  <p>
    <strong>Rating:</strong>
    <% if beer.ratings.empty? %>
    beer has not been rated yet!
    <% else %>
    Beer has <%= pluralize(beer.ratings.count, 'rating') %>
    with an average of <%= beer.average_rating %>
    <% end %>
  </p>

</div>
